
/*education*/

#education
{
    padding-top: 30px;
   
}
.red-divider
{
    width: 100px;
    height:2px;
    background: #fff;
    margin: 20px auto;
}


#education .heading h2
{
    color: antiquewhite;
   text-align: center;
   margin-bottom: 30px;
   font-weight: bold;
}
.education-block h5
{
    color: #3F3735;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
}

.education-block
{
    width: 80%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    
}


.education-block .chapot
{
    font-size: 40px;
    color: #3F3735;
}

.education-block h3
{
    color: #3F3735;
}

.education-block h4
{
    margin-bottom: 20px;
    color: #0069d6;
}

.education-block p
{
    font-weight: bold;
    color: #3F3735;
}


