<section id="portfolio">
    <div class="container">
        <div class="red-divider"></div>
        <div class="heading text-center mb-5">
            <h2>PORTFOLIO</h2>
            <div class="red-divider"></div>
            <h4><span class="mtp">Email : </span>  fekraouihamza@yahoo.fr </h4>
            <h4><span class="mtp">Mot de passe : </span>  demo123 </h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="https://www.fekraoui-hamza.fr/damir-project-git/index.php" target="_blank">
                    <img class="img-thumbnail" src="../../assets/images/dami-res.jpg" alt="facebook share">
                </a>
                
            </div>
            <div class="col-md-4">
                <a href="https://cars-a0af5.firebaseapp.com/home" target="_blank">
                    <img class="img-thumbnail" src="../../assets/images/carscv.jpg" alt="twitter video">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.fekraoui-hamza.fr" target="_blank">
                    <img class="img-thumbnail" src="../../assets/images/hamzacv (1).jpg" alt="google translate">
                </a>
                                    
            </div>
        </div>
    
    </div>
    
</section><br><br><br><br><br><br>