<section id="skills">
    <div class="red-divider"></div>
    <div class="heading">
        <h2>COMPÉTENCES</h2>
    </div>
    <div class="red-divider"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-6 mb-3">
              <div>
                <img class="img-thumbnail" src="../../assets/images/test/html5.png" alt="facebook share">

              </div>

            </div>
            <div class="col-md-3 col-6 mb-3">
              <div>
                <img class="img-thumbnail" src="../../assets/images/test/css.png" alt="facebook share">

              </div>

            </div>
            <div class="col-md-3 col-6 mb-3">
              <div>
                <img class="img-thumbnail" src="../../assets/images/test/boot4.png" alt="facebook share">

              </div>

            </div>
            <div class="col-md-3 col-6 mb-3">
              <div>
                <img class="img-thumbnail" src="../../assets/images/test/js.jpg" alt="facebook share">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/jquery.png" alt="facebook share">

            </div>

          </div>
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/php7.png" alt="facebook share">

            </div>

          </div>
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/sql.png" alt="facebook share">

            </div>

          </div>
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/laravel.png" alt="facebook share">
            </div>
          </div>

      </div>
        <div class="row">
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/firebase.png" alt="facebook share">
            </div>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/angular8.jpg" alt="facebook share">

            </div>

          </div>
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/git.jpg" alt="facebook share">

            </div>

          </div>
          <div class="col-md-3 col-6 mb-3">
            <div>
              <img class="img-thumbnail" src="../../assets/images/test/github.png" alt="facebook share">

            </div>

          </div>
      </div>
    </div>
</section>
<div>
    <br><br>
</div>
