<section id="skills">
    <div class="red-divider"></div>
    <div class="heading">
        <h2>COMPÉTENCES</h2>
    </div>
    <div class="red-divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="progress">
                    
                            <div class="progress-bar" style="width: 80%">
                                <h5>ANGULAR 7  80%</h5>
                            </div>
                </div>
                <div class="progress">
                    
                        <div class="progress-bar" style="width: 75%">
                            <h5>FIREBASE 75%</h5>
                        </div>
                </div>
                <div class="progress">
                   
                        <div class="progress-bar" style="width: 75%">
                            <h5>PHP 75%</h5>
                        </div>
                </div>
                <div class="progress">
                   
                        <div class="progress-bar" style="width: 90%">
                            
                            <h5>HTML 90%</h5>
                        </div>
                </div>
                
                
                 <div class="progress">
                   
                    <div class="progress-bar" style="width: 80%">
                        <h5>GITHUB 80 %</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="progress">
                  
                            <div class="progress-bar" style="width: 80%">
                                <h5>JAVASCRIPT 80%</h5>
                            </div>
                </div>
                <div class="progress">
                  
                    <div class="progress-bar" style="width: 85%">
                        <h5>JQUERY 85%</h5>
                    </div>
                </div>
                <div class="progress">
                     
                        <div class="progress-bar" style="width: 75%">
                            <h5>SQL 75%</h5>
                        </div>
                    </div>
                   
                <div class="progress">
                    
                    <div class="progress-bar" style="width: 80%">
                        <h5>BOOTSTRAP 80%</h5>
                    </div>
                </div>
                <div class="progress">
                    
                        <div class="progress-bar" style="width: 85%">
                            <h5>CSS 85%</h5>
                        </div>
                    </div>
                   
               
            </div>
        
        </div>
    </div>
</section>
<div>
    <br><br>
</div>
