/* You can add global styles to this file, and also import other style files */
body
{
    font-family: 'lato', sans-serif;
    background: rgb(216, 48, 48) no-repeat;
  

}

#buttNav {
    color: antiquewhite !important;
    border-style: none;
}


